/* font family start */
.cursive {
  font-family: cursive;
}
/* font family end */

/* button start */
.my-btn {
  background: #000;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.my-btn:focus {
  outline: none;
}

.my-btn:hover {
  color: #000;
  background-color: #fff;
}
/* button end */

/* hero section start */
.hs-h {
  height: 100vh !important;
}

@media (max-width: 767px) {
  .hs-h {
    height: 80vh !important;
  }
}
/* hero section end */

/* top highlights start */
.thi {
  height: 35vh;
  width: auto;
}
/* top highlights end */

/* zoom hover start */
.zoom_hover:hover {
  scale: 1.02;
}
/* zoom hover end */

/* phone screen display none start */
@media (max-width: 600px) {
  .only_lap_dis {
    display: none !important;
  }
}
/* phone screen display none end */

/* whatsapp start */
.float-w {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 10px;
  background-color: #25d366;
  color: #fff !important;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float-w:hover .my-float-w {
  color: #c89b3f;
}

.my-float-w {
  margin-top: 16px;
}
/* whatsapp end */

/* popular packages start */
.ppi {
  height: 34vh;
}

.pp_price {
  color: #1b7f40;
  font-size: 25px;
}
/* popular packages end */
