/* hero section start */
.about-banner {
  height: 72vh !important;
  background: url("../images/monsoon/beach-rain1.jpg") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.header-top {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* hero section end */

/* tour overview start */
.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/monsoon/rain1.webp") no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/monsoon/rain2.webp") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/monsoon/rain3.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/monsoon/rain4.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/monsoon/rain5.jpg") no-repeat 50% 50% / cover;
}
/* tour overview end */
