.html {
  scroll-behavior: smooth;
}

/* fixed btn start */
.fixed-button {
  position: fixed;
  left: 92vw; /* Adjust this value to control the horizontal position */
  bottom: 50vh; /* Adjust this value to control the vertical position */
  z-index: 9999; /* Ensure the button appears above other content */
  transform: rotate(270deg);
  transition: transform 0.3s ease;
}

.fixed-button {
  background-color: #150363;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.fixed-button:hover {
  background-color: #e91e63;
}

@media (max-width: 700px) {
  .fixed-button {
    display: none;
  }
}
/* fixed btn end */

/* parallax section start */
.parallax {
  background: url(../images/surfing\ 9.webp);
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.parallax-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
}

.h2_parallax {
  font-size: 32px;
  color: #ffffff; /* Update the color for the heading */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add a text shadow for better visibility */
}

.p_parallax {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffff; /* Update the color for the paragraphs */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Add a text shadow for better visibility */
}

.btn_parallax {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff4081;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.offer {
  background-color: rgba(26, 1, 1, 0.63);
  padding: 20px;
  border-radius: 8px;
}

.h3_parallax {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

.offer p {
  font-size: 20px;
  margin-bottom: 15px;
}
/* parallax section end */

/* contact us start */
.contact-form {
  background-color: #f8f9fa;
  padding: 40px 0;
}
.contact-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.form-control {
  border-radius: 0;
}
.submit-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 30px;
  font-size: 16px;
}
.submit-btn:hover {
  background-color: #c82333;
}
/* contact us end */

/* footer start */
.myFooter {
  padding-top: 30px;
  background: url("images/bg_2.webp");
  background-blend-mode: overlay;
}

.myFooter .container {
  max-width: 1200px;
}

.myFooter .ftco-footer-widget {
  margin-bottom: 40px;
}

.myFooter img {
  width: 10vw;
}

.myFooter ul.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.myFooter ul.list-unstyled li {
  margin-bottom: 10px;
}

.myFooter a {
  color: aliceblue;
  text-decoration: none;
}

.myFooter a:hover {
  color: #ffffff;
}

.myFooter .block-23 ul {
  padding-left: 0;
}

.myFooter .block-23 ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.myFooter .block-23 ul li .icon {
  margin-right: 10px;
}

.myFooter p {
  margin: 0;
  color: aliceblue;
}
/* footer end */

/* about us start */
.about-section {
  position: relative;
  padding: 80px 0px;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 40px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-top: 50px;
  padding-right: 100px;
}

.about-section .content-column .text {
  position: relative;
  color: #777777;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 40px;
}

.about-section .content-column .email {
  position: relative;
  color: #252525;
  font-weight: 700;
  margin-bottom: 50px;
}

.about-section .image-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .image-column .inner-column {
  position: relative;
  padding: 40px 40px 0px 0px;
  margin-left: 50px;
}

.about-section .image-column .inner-column:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  left: 40px;
  bottom: 100px;
  z-index: -1;
  border: 2px solid #d7a449;
}

.about-section .image-column .inner-column .image {
  position: relative;
}

.about-section .image-column .inner-column .image:before {
  position: absolute;
  content: "";
  left: -50px;
  bottom: -50px;
  width: 299px;
  height: 299px;
  background: url(img/pattern-2.png) no-repeat;
}

.about-section .image-column .inner-column .image img {
  position: relative;
  width: 100%;
  display: block;
}

.about-section .image-column .inner-column .image .overlay-box {
  position: absolute;
  left: 40px;
  bottom: 48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box {
  position: relative;
  color: #252525;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4em;
  padding-left: 125px;
}

.about-section
  .image-column
  .inner-column
  .image
  .overlay-box
  .year-box
  .number {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 110px;
  height: 110px;
  color: #d7a449;
  font-size: 68px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.about-section .btn-style-three:before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  z-index: -1;
  right: -10px;
  bottom: -10px;
  background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
  color: #ffffff;
  background: #d7a449;
}
.about-section .btn-style-three {
  position: relative;
  line-height: 24px;
  color: #252525;
  font-size: 15px;
  font-weight: 700;
  background: none;
  display: inline-block;
  padding: 11px 40px;
  background-color: #ffffff;
  text-transform: capitalize;
  border: 2px solid #d7a449;
  font-family: "Arimo", sans-serif;
}
.sec-title2 {
  color: #fff;
}
.sec-title {
  position: relative;
  padding-bottom: 40px;
}
.sec-title .title {
  position: relative;
  color: #d7a449;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbbbbb;
}
/* about us end */
